<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bnd">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ToDoList"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CompanyActivities.CompanyProjectSubtask"></activity>
        <activity android:name=".CompanyActivities.CompanyProjectTaskActivity" />
        <activity android:name=".CompanyActivities.CompanyProjectActivity" />
        <activity android:name=".CompanyActivities.CompanyUsersActivity" />
        <activity android:name=".CompanyActivities.CompanyActivity" />
        <activity android:name=".UserActivities.SubtaskActivity" />
        <activity android:name=".UserActivities.TaskActivity" />
        <activity android:name=".UserActivities.ListActivity" />
        <activity android:name=".UserActivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>